<%= image_tag @portfolio.main_image unless @portfolio.main_image.nil? %>
<h1><%= @portfolio.title %></h1>
<p>ID: <%= @portfolio.id %></p>
<p><%= @portfolio.subtitle %></p>
<p><%= @portfolio.body %></p>
<p><%= @portfolio.created_at %></p>

<% unless @portfolio.technologies.empty? %>
  <h3> Technologies used </h3>
  <ul>
    <% @portfolio.technologies.each do |technology| %>
      <li><%= technology.name %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Edit", edit_portfolio_path(@portfolio.id) %>