<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title%></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div>
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "About met", about_me_path %></div>
  <div><%= link_to "Contact me", contact_me_path %></div>
  <div><%= link_to "Portfolios", portfolios_path %></div>
  <div><%= link_to "Posts", posts_path %></div>
</div>
<% if current_user.is_authenticated %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Register', new_user_registration_path %>
<% end %>

<%= yield %>
<% unless get_source.blank? %>
  <p>Thanks for visiting my <%= get_source %></p>
<% end %>
</body>
</html>